

.main-table-holder:hover {
  /* width: 120%; */
}

.main-table-holder {
  background-color: var(--grey-0);
  border: 1px solid var(--grey-4);
  position: relative;
  width: 100%;
  border-radius: 15px;
  padding: 20px;
  padding-top: 0;
  max-height: 70cqw;


  border: 1px solid oklch(0.89 0.002 100.4 / 0.6);
  /* filter: drop-shadow(2px 2px 4px oklch(0.93 0.003 100.4 / 1)); */
  /* box-shadow: 1px 1px 4.5px 3px inset oklch(0.98 0.003 100.4 / 0.8), 1.2px 1.2px 30px -30px oklch(0.88 0.003 100.4 / 1); */


  overflow: scroll;
}

.main-table {
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(150px, calc(100% / var(--columns))));
  /* height: -webkit-fill-available; */
  /* grid-auto-rows:    minmax(100px, max-content); */
}

.main-table :is(thead, tbody, tfoot) {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

.main-table thead {
  padding: 1.2rem 0 1.2rem 0;
  border-bottom: 1px solid var(--grey-2);
  margin-bottom: 1.4rem;
  box-shadow: 0px -7px 19px -20px inset oklch(0.8 0.003 100.4 / 0.6);
  position: sticky;
  top: 0;
  background-color: var(--grey-0)
}

.main-table .table-header-text {
    color: var(--grey-8) !important;
    letter-spacing: 0.8px;
    font-weight: 500;
    font-size: 1rem;
  }

.main-table tr {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}


@keyframes rotateButton2 {
  from {
      transform: rotate(0deg) scale(2.5);
  }
  to {
      transform: rotate(360deg) scale(2.5);
  }
}


@property --delay {
  syntax: '<time>';
}

@property --bg-color {
  syntax: '<color>';
}

.add-button {

  --border-radius: 12px;
  --bg-color: oklch(from #fdfdfb calc(l - 0.02) c h / 1);
  --bg-color-hover: var(--grey-1);
  --inset-amount: 4px;
  --fg-color: var(--grey-6);
  --fg-color-hover: var(--grey-8);
  --delay: 150ms;
  /* box-sizing: border-box; */
  align-items: center;
  border-width: 0;
  border: none;
  /* transition: none; */
  border-radius: var(--border-radius);
  /* background-color: oklch(from var(--bg-color) l c h / 0.1); */
  background-color: transparent;
  /* border-color: transparent; */
  /* border-color: green; */
  position: relative;
  z-index: 2;
  overflow: clip;
  /* border-style: solid; */
  /* transition: none; */
  justify-content: center;
  transition: background-color 0 linear;


  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  box-sizing: content-box;


  :is(.add-button__content, .add-button__background, .add-button__rainbow) {
    display: flex;
    grid-column: 1/2;
    grid-row: 1/2;
    height:100%;
    width: 100%;
  }

  .add-button__content {
    background-color: transparent;
    color: var(--fg-color);
    font-size: 1.2rem;
    font-weight: 500;
    z-index: 2; 
    padding: 8px 20px;
    display: flex;
    gap: 11px;
    transition: all var(--delay) linear;
  }

  .add-button__background {
    background-color: oklch(from var(--bg-color) l calc(c + 0.001) h / 1);
    transition: 
      color var(--delay) linear,
      clip-path var(--delay) linear,
      background-color var(--delay) linear;
    clip-path: inset(0);
  }

  &:hover {
    .add-button__content {
      color: var(--fg-color-hover);
      z-index: 1;
    }

    .add-button__rainbow {
      background-image: conic-gradient(red, yellow, green, cyan, blue, #fe08fe, red); 
      animation: rotateButton2 2.5s linear alternate-reverse infinite;
    }

    .add-button__background {
      clip-path: inset(var(--inset-amount) round calc(var(--border-radius) - (var(--inset-amount) - 0.2px))); 
      background-color: var(--bg-color-hover);
    }
  }


  svg {
    display: inline;
    transform: scale(0.88) translateX(7px) translateY(3px);
    transition: none;

    path {
      transition: none;
      stroke-width: 1.5;
    }
    /* transform: translateY(-1px); */
  }
}