.combobox {
	box-sizing: border-box;
}


	.combobox :global(.combobox__control) {
		display: flex;
		justify-content: space-between;
		width: 200px;
		border-radius: 6px;
		/* font-size: 16px; */
		line-height: 1;
		outline: none;
		background-color: var(--white);
		border: 1px solid var(--grey-5);
		color: var(--grey-8);
		transition:
			border-color 250ms,
			color 250ms;

	}

	.combobox :global(.combobox__control[data-invalid]) {
		border-color: hsl(0 72% 51%);
		color: hsl(0 72% 51%);
	}

	.combobox :global(.combobox__control_multi) {
		width: 100%;
		min-width: 200px;
		max-width: 300px;
	}

	.combobox :global(.combobox__input) {
		appearance: none;
		display: flex;
		min-width: 0;
		/* min-height: 40px; */
		padding-left: 10px;
		letter-spacing: 0.2px;
		font-size: 1.1em;
		background: transparent;
		border-top-left-radius: 6px;
		border-bottom-left-radius: 6px;
		outline: none;
		border:none;
		padding-block: 9px;

	}

	.combobox :global(.combobox__input::placeholder) {
		color: var(--grey-5);
	}

	.combobox :global(.combobox__trigger) {
		appearance: none;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: auto;
		outline: none;
		border-top-right-radius: 6px;
		border-bottom-right-radius: 6px;
		padding: 0 0.5em;
		background-color: var(--grey-2);
		/* border-right-color: var(--grey-6);
		border-top-color: var(--grey-6);
		border-bottom-color: var(--grey-6); */
		border-left: 1px solid var(--grey-4);
		/* color: var(--grey-8); */
		color: var(--grey-6);
		font-size: 1.2em;
		line-height: 1;
		transition: 250ms background-color;

	}

	.combobox :global(button) {
		border: none;
	}
	/* 
	.combobox-show-options-icon {
		width: 3rem;
		height: 3rem;
	} */

	.combobox :global(.combobox__icon) {
		height: 20px;
		width: 20px;
		flex: 0 0 20px;

		.combobox :global(svg) {
			transform: scale(1.07);

			.combobox :global(path, g) {
				stroke-width: 1.4;
			}
		}

	}

	.combobox :global(.combobox__description) {
		margin-top: 6px;
		color: var(--grey-8);
		/* font-size: 12px; */
		user-select: none;
	}

	.combobox :global(.combobox__error-message) {
		margin-top: 6px;
		color: hsl(0 72% 51%);
		/* font-size: 12px; */
		user-select: none;
	}

	.combobox :global(.combobox__content) {
		background-color: var(--white);
		border-radius: 8px;
		border: 1px solid var(--grey-1);
		box-shadow:
			0 4px 6px -1px rgb(0 0 0 / 0.1),
			0 2px 4px -2px rgb(0 0 0 / 0.1);
		transform-origin: var(--kb-combobox-content-transform-origin);
		animation: contentHide 250ms ease-in forwards;
	}

	.combobox :global(.combobox__content[data-expanded]) {
		animation: contentShow 250ms ease-out;
	}

	.combobox :global(.combobox__listbox) {
		overflow-y: auto;
		max-height: 360px;
		padding: 8px;
	}

	.combobox :global(.combobox__listbox) :global([aria-selected="true"]) {
		background-color: var(--grey-1);
	}
	
	.combobox :global(.combobox__listbox:focus) {
		outline: none;
	}

	.combobox :global(.combobox__item) {
		line-height: 2.7;
		color: var(--grey-8);
		border-radius: 6px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		/* height: 32px; */
		padding: 0 8px;
		position: relative;
		user-select: none;
		outline: none;
		cursor: pointer;
		transition: none;
	}

	.combobox :global(.combobox__item[data-disabled]) {
		color: var(--grey-4);
		opacity: 0.5;
		pointer-events: none;
	}

	.combobox :global(.combobox__item[data-highlighted]) {
		outline: none;
		background-color: oklch(from var(--grey-2) l c h / 0.6);
		color: var(--grey-8);
	}

	.combobox :global(.combobox__section) {
		padding: 6px 0 0 6px;
		/* font-size: 14px; */
		line-height: 1.5;
		color: var(--grey-6);
	}

	.combobox :global(.combobox__item-indicator) {
		height: 20px;
		width: 20px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}

	@keyframes contentShow {
		from {
			opacity: 0;
			transform: translateY(-8px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@keyframes contentHide {
		from {
			opacity: 1;
			transform: translateY(0);
		}
		to {
			opacity: 0;
			transform: translateY(-8px);
		}
	}

.combobox :global([data-kb-theme="dark"] .combobox__control) {
	background-color: hsl(240 4% 16%);
	border: 1px solid hsl(240 5% 34%);
	color: hsl(0 100% 100% / 0.9);
}

.combobox :global([data-kb-theme="dark"] .combobox__control:hover) {
	border-color: hsl(240 4% 46%);
}

.combobox :global([data-kb-theme="dark"] .combobox__control[data-invalid]) {
	border-color: hsl(0 72% 51%);
	color: hsl(0 72% 51%);
}

.combobox :global([data-kb-theme="dark"] .combobox__input::placeholder) {
	color: hsl(0 100% 100% / 0.5);
}

.combobox :global([data-kb-theme="dark"] .combobox__trigger) {
	background: hsl(240 5% 26%);
	border-left: 1px solid hsl(240 5% 34%);
	color: hsl(0 100% 100% / 0.9);
}

.combobox :global([data-kb-theme="dark"] .combobox__content) {
	border: 1px solid hsl(240 5% 26%);
	background-color: hsl(240 4% 16%);
	box-shadow: none;
}

.combobox :global([data-kb-theme="dark"] .combobox__section) {
	color: hsl(0 100% 100% / 0.7);
}

.combobox :global([data-kb-theme="dark"] .combobox__item) {
	color: hsl(0 100% 100% / 0.9);
}

.combobox :global([data-kb-theme="dark"] .combobox__description) {
	color: hsl(0 100% 100% / 0.7);
}

.combobox :global([data-combo-trigger]:hover) {
  background-color: var(--grey-3);
}

.combobox :global([data-selected] svg) {
  color: var(--grey-6)
}

.combobox :global([data-item], [data-item] div) {
  transition: none;
  cursor: pointer;
}

/* [data-combo-input] {
  border: none;
} */

.combobox :global([data-popper-positioner]) {
  transition: none !important;
}