/* @tailwind base; */
@tailwind components;
@tailwind utilities;

html {
  background-color: #f5f5f4;
}

*:not(.no-transition) > * {
  transition: all 100ms ease-out;
}

body {
  padding: 30px;
}    
body, html {
  margin: 0;
  padding: 0;
  height: calc(100% + 34px);
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1900px;
  height: calc(100dvh - 55px);
  border: 1px solid oklch(0.89 0.002 93.4 / 0.98);
  margin-inline: auto;
  background-color: #fdfdfb;
  border-radius: 10.6px;
  box-sizing: border-box;
  filter: drop-shadow(3px 3px 7px oklch(0.93 0.003 93.4 / 1));
  box-shadow: 1px 1px 4.5px 3px inset oklch(0.98 0.003 93.4 / 0.8), 1.2px 1.2px 48px -30px oklch(0.88 0.003 93.4 / 1);
  z-index: 2;
  container-type: size;
}

h1 {
  color: #1b1b17;
  opacity: 0.9;
  font-size: 2.4rem;
  text-box-trim: top; 
  text-box-trim: trim-start; 
  text-box-edge: cap alphabetic; 
  letter-spacing: -0.5px;
}


/* .label {
  color: #69645d;
  font-family: 'Aptos';
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 0.78rem;
  display: block;
  padding-left: 1.1px;
  padding-bottom: 1.1px;
}

.textfield {
  border: 1px solid #dddad8;
  padding: 5px 5px;
  border-radius: 7px;
  background-color: #fefefd;
} */
















.header {
  -webkit-app-region: drag;
  height: 29px;
  width: 100%;
  /* background-color: hsl(40 7% 90% / 1); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}

.header__close {
  width: 28px;
  aspect-ratio: 1/1;
  /* color: #a9a7a0; */
  /* transform: translateY(-0.9px); */
  color:  hsl(46.67deg 4.84% 56.3%);
  border: none;
  font-size: 17px;
  cursor: pointer;
  -webkit-app-region: no-drag;
  display: grid;
  place-content: center;
  place-items: center;
  text-align: center;
  text-box-trim: both; 
  text-box-edge: cap alphabetic; 
  font-weight: 900;
  border-radius: 50px;
  transform: translate(0.1px, -0.3px);
}

.header__close:hover, .header__buttonBox:hover .header__close {
  color: hsl(51 5% 93% / 1);
  /* color: white */
}

.header__buttonBox:hover {
  background-color: hsl(51 20% 12% / 1);
}

.header__buttonBox {
  -webkit-app-region: no-drag;
  height: 100%;
  display: grid;
  align-items: center;
  padding-right: 3.8px;
  padding-left: 3.5px;
  /* background-color: #58554f;
    background-color: #d5d3cc; */
  /* background-color: #d7d6d0; */
  background-color: hsl(51 5% 92.5% / 1);
  z-index: 1;
  transition: all 150ms ease-out;
  border-bottom-left-radius: 8.8px;
}

.icon {
  justify-self: flex-start;
  display: flex;
  place-content: center;
  padding-left: 11.7px;
  filter: saturate(0);
  opacity: 0.7;
  transform: translateY(3.4px);
  z-index: 1;
  opacity: 0.68;
}

.icon img {
    height: 14.5px;
    width: 14.5px;
}

.header:hover .icon, :not(.conainer:hover) .icon {
  filter: saturate(3);
}

.back-button {
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: var(--grey-4);
  position: absolute;
  left: 1.1rem;
  top: 0.9rem;
  border-radius: 50px;
  padding: 5px;
  transition: none;
  z-index: 99;


  /* border-width: 2px;
  border-style: solid;
  border-image-repeat:stretch;
  border-image: conic-gradient(red, yellow, green, cyan, blue, magenta, red); */
}

.back-button-backdrop {
  border-radius: 50px;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

.back-button:hover .back-button-backdrop {
  /* background-color: var(--grey-2); */
  background-image: conic-gradient(red, yellow, green, cyan, blue, rgb(255, 0, 208), red); 
  animation: rotateButton 2.5s linear alternate-reverse infinite;
  /* transition: none; */
}

.back-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back-button-backdrop::after {
  border-radius: 50px;
  padding: 15px;
  width: 100%;
  height: 100%;
  transform: scale(1.2);
  content: ' ';
  display: block;
  box-sizing: border-box;
  position: absolute;
  /* background-color: red; */
  background-color: #fdfdfb;
}
.back-button:hover .back-button-backdrop::after {
  background-color: var(--grey-1);
  animation: rotateOther 300ms linear;
  animation-fill-mode: forwards;
  /* animation-delay: 50ms; */
  transform: scale(0.9)
  /* transition: none; */
}

.back-button:hover svg {
  /* background-color: var(--grey-0); */
  color: var(--grey-10);
  transition: none;
}

.back-button svg g {
  stroke-width: 1.1;
  transition: none;
  /* transform:  scale(1.05) t */
}

@keyframes rotateOther {
  from {
      transform: rotate(0deg) scale(1.2);
  }
  to {
      transform: rotate(-360deg) scale(0.83);
  }
}
@keyframes rotateButton {
  from {
      transform: rotate(0deg) scale(1.05);
  }
  to {
      transform: rotate(360deg) scale(1.05);
  }
}


@keyframes rotateButton3 {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
@keyframes rotateOther2 {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(-360deg);
  }
}

.loading {
  --radius: 40cqw;
  --delay: 2s;

  font-size: 2.8rem;
  font-weight: 500;

  & * {
    display: grid;
    place-content: center;
  }

  .rainbow {
    background-image: conic-gradient(red, yellow, green, cyan, blue, rgb(255, 0, 208), red); 
    width: var(--radius);
    height: var(--radius);
    border-radius: 100%;
    animation: rotateButton3 var(--delay) linear infinite;
  }

  .lbackground {
    background-color: var(--grey-0);
    width: calc(var(--radius) - 50px);
    height: calc(var(--radius) - 50px);
    border-radius: 100%;
    animation: rotateOther2 var(--delay) linear infinite;
    /* position: absolute; */
  } 



}

.inputShadow {
  filter: drop-shadow(3px 3px 3px oklch(0.95 0.003 93.4 / 0.5));
  /* box-shadow: 1px 1px 4.5px 3px inset oklch(0.98 0.003 93.4 / 0.6), 1.2px 1.2px 30px -30px oklch(0.88 0.003 93.4 / 0.6); */
  box-shadow: 1px 1px 3.5px 1px inset oklch(0.98 0.003 93.4 / 0.6), 1.2px 1.2px 2px -30px oklch(0.95 0.003 93.4 / 0.4)
}


/* [data-item], [data-item] div {
  transition: none;
  cursor: pointer;
} */

/* [data-combo-input] {
  border: none;
} */

/* [data-popper-positioner] {
  transition: none !important;
} */

/* :root, html, body, main {
  font-size: 14px;
} */